
<div class="crudHead">
    <div class="wtw">WTW</div>
    <button class="policy">Policies</button>
</div>
  
<form class="frm">
    <div class="plcBody">Policies</div>
    <p class="para1">Policies are the list of insurance policies and policy holders data</p>
    <div class="srchBtn">
    <input class="srch form-control" type="text" placeholder="Search for policies">
    <button class="policy" (click)="opnMdl()">New Policy</button>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th class="headr" *ngFor="let hdrs of tblHdr">{{ hdrs }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plc of policies" class="tbd">
                <td><span (click)="updateData(plc.id)" class="plcNum">{{ plc.Number }}</span></td>
                <td>{{ plc.Name }}</td>
                <td>{{ plc.Age }}</td>
                <td>{{ plc.Gender }}</td>
                <td>
                    <!-- <button type="button" class="btn btn-danger" (click)="deleteData(plc.id)">Delete</button> -->
                    <button type="button" class="btn tbdDlt" (click)="cnfrmDlt(plc.id, plc.Number)">Delete</button>
                </td>
                <!-- <td class="scrlBar"></td> -->
                <div class="scrlBar"></div>
            </tr>
        </tbody>
        </table>
    </div>
</form>

<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <div class="crtNwPlc">
            <span class="close" (click)="clsMdl()">&times;</span>
            <h4>{{ mdlTitle }}</h4>
        </div>
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="plcBody">Policy</div>
            <div class="form-group">
                <label for="policyNum">Policy Number</label>
                <input type="text" id="policyNum" class="form-control" placeholder="Enter Policy Number" name="policyNum" formControlName="Number">
                <div *ngIf="Number?.touched && Number?.invalid" class="alert alert-danger">
                    <div *ngIf="Number?.errors?.['required']">Policy Number is required.</div>
                    <div *ngIf="Number?.errors?.['minlength']">Policy Number should be minimum {{ Number?.errors?.['minlength']?.requiredLength }} digits.</div>
                    <div *ngIf="Number?.errors?.['shouldBeUnique2']">Policy Number is already taken.</div>
                </div>  
            </div>

            <hr>

             <div class="plcBody">Policy Holder</div>

            <div class="form-group">
                <label for="policyHldNm">Name</label>
                <input type="text" id="policyHldNm" class="form-control" placeholder="Enter Policy Holder Name" name="policyHldNm" formControlName="Name">
                <div *ngIf="Name?.touched && Name?.invalid" class="alert alert-danger">
                    <div *ngIf="Name?.errors?.['required']">Policy Holder Name is required.</div>
                </div>  
            </div>

            <div class="form-group">
                <label for="hldAge">Age</label>
                <input type="number" id="hldAge" class="form-control" placeholder="Enter Policy Holder Age" name="hldAge" formControlName="Age">
                <div *ngIf="Age?.touched && Age?.invalid" class="alert alert-danger">
                    <div *ngIf="Age?.errors?.['required']">Policy Holder Age is required.</div>
                    <div *ngIf="Age?.errors?.['checkAge']">Age must be greater then 0.</div>
                </div>  
            </div>

            <div class="form-group">
                <label for="hldGender">Gender</label>
                <select name="hldGender" id="hldGender" class="form-control" formControlName="Gender">
                    <option value=""></option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <div *ngIf="Gender?.touched && Gender?.invalid" class="alert alert-danger">
                    <div *ngIf="Gender?.errors?.['required']">Policy Holder Gender is required.</div>
                </div>  
            </div>
            
            <hr>
            <!-- [disabled]="createForm.invalid" -->
            <button type="submit" class="btn btnCrt">{{ crtUpt }}</button>
            <button type="button" class="btn btnCncl" (click)="clsMdl()">Cancel</button>
        </form>
</div>
</div>

<!-- Confirm Delete -->

<div class="modal" *ngIf="shwCnfrm">
    <div class="modal-content">
        <div class="crtNwPlc">
            <span class="close" (click)="cnclDlt()">&times;</span>
            <h4>Confirm Deletion</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete Policy #: {{ policyNumberToDelete }}?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cnclDlt()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="dltCnfrm()">Delete</button>
        </div>
    </div>
</div>

<!-- <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="clsMdl()">&times;</span>
        <h2>New Policy Form</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="policyId">Policy ID:</label>
            <input type="text" id="policyId" name="policyId" [(ngModel)]="policyId" required>
            
            <label for="policyHolderName">Policy Holder Name:</label>
            <input type="text" id="policyHolderName" name="policyHolderName" [(ngModel)]="policyHolderName" required>
            
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" [(ngModel)]="age" required>
            
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" [(ngModel)]="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</div> -->