
<div class="crudHead">
    <div class="wtw">WTW</div>
    <button class="policy">Policies</button>
</div>
  
<form class="frm">
    <div class="plcBody">Policies</div>
    <p class="para1">Policies are the list of insurance policies and policy holders data</p>
    <div class="srchBtn">
    <input class="srch" type="text" placeholder="Search for policies">
    <button class="policy">New Policy</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="headr" *ngFor="let hdrs of tblHdr">{{ hdrs }}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</form>

