
.wtw {
    font-weight: bold;
    font-size: x-large;
    border-right: 2px solid #808080;
    padding: 10px 20px;
    color: rgb(125, 10, 125);
}

.policy {
    margin-left: 22px;
    border-radius: 5px;
    background-color: rgb(125, 10, 125);
    height: 35px;
}

.crudHead {
    display: flex;
    align-items: center;
    margin: 20px;
    border-bottom: 2px solid #808080;
}

.frm {
    background-color: white;
    margin: 20px;
    height: 505px;
    border-radius: 4px;
    padding: 20px;
}

.plcBody {
    font-weight: bold;
    font-size: large;
    color: rgb(125, 10, 125);
    text-decoration: underline;
}

.para1 {
    font-size: 15px;
}

.srch{
    border-radius: 5px;
    width: 80%; 
    max-width: 300px;
}

.srchBtn {
    display: flex;
    justify-content: space-between;
}

.headr {
    font-weight: bolder;
    font-size: 14px;
    color: rgb(125, 10, 125);
    border: 1px solid rgb(232, 232, 232);
}